
@{
    ViewBag.Title = "Błąd";
}

<div style="padding-top:20vh;" class="hidden-sm hidden-xs"></div>
<div style="padding-top:20vh;" class="hidden-md hidden-lg"></div>
<div class="row">
    <div class="col-md-12 text-center" style="padding-bottom:20vh">
        <img style="width:45vw" src="~/Images/error404_new.png" />
    </div>
</div>

