@model Darek_kancelaria.Models.IndexViewModel
@{
    ViewBag.Title = "Zarządzaj";
}




    <div class="row ContentPadTop">
        <div>
            <h3 style="color:#923233">@ViewBag.StatusMessage</h3>
        </div>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <div>
                @Html.Partial("_AdminManage")
            </div>
        }
        else if (User.Identity.IsAuthenticated && User.IsInRole("Partner"))
        {
            <div>
                @Html.Partial("_PartnerManage")
            </div>
        }
        else if (User.Identity.IsAuthenticated && User.IsInRole("Client"))
        {
            <div>
                @Html.Partial("_ClientManage")
            </div>
        }
    </div>
<script>
    $(function() {
        $(".menu").each(function () {
            this.classList.remove("selectedItem");
        });
        $("#manage.menu").addClass("selectedItem")
    })
</script>