<div style="margin-top:20vh" class="modal fade" id="addFinanceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color:#373737">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">DODAJ PŁATNOŚĆ</h5>
            </div>
            <form id="eventForm">
                <div class="modal-body">
                    <div class="row">
                        <input type="text" placeholder="Nazwa usługi" class="col-md-12" style="line-height:40px; color:#000; " required/>
                    </div>
                    <div class="row">
                        <input style="margin-top:20px; line-height: 40px; color:#000" type="number" placeholder="Kwota" class="col-md-12" required/>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <button type="submit" class="btn btnStyle col-md-12">DODAJ</button>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btnStyle col-md-12" style="background-color:#525252" data-dismiss="modal">ANULUJ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
