
<div style="margin-top:20vh" class="modal fade" id="addFileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color:#373737">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">DODAJ PLIK</h5>
            </div>
            <form id="eventForm">
                <div class="modal-body">
                    <div class="row">
                        <input type="file" placeholder="Dodaj plik" style="line-height:40px; color:#000; " required />
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <button type="submit" class="btn btnStyle col-md-12">DODAJ</button>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btnStyle col-md-12" style="background-color:#525252" data-dismiss="modal">ANULUJ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
