
<div style="margin-top:20vh" class="modal fade" id="sendFileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color:#373737">
                <div class="modal-body">
                    <div class="row">
                        <h3 class="modal-title mainColor text-center" id="exampleModalLongTitle">PRZESYŁAM PLIKA NA SERVER, CZEKAJ...</h3>
                        <div id="evidenceLoading" class="row">
                            <div class="text-center col-md-12"><h4 id="percent"></h4></div>
                            <div class="col-md-12">
                                <progress id="proBar" max="100" value="0"></progress>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

